head
  link(rel="stylesheet" href="/styles.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Questrial")
  script(src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript")
  title Free Code Camp API Project
body
  div.container
    button.upload-button#upload-button
      label(for="file-input") Upload file
    input.file-input#file-input(type="file")
    button.submit-button#submit-button Submit
    div.file-display#file-name
    div.file-display#file-size
    button.reset-button#reset-button Try again
  script(type="text/javascript" src="/client.js")
