body {
  background: #333;
  color: #ddd;
  font-family: 'Roboto';
}

h1 {

}

.container {
  width: 60%;
  margin: 20px auto;
}

.file-input {
  display: none;
}

.file-display {
  font-size: 16px;
  margin-top: 5px;
}
